@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ AÑADIDO: Utilidad para ocultar la barra de scroll */
@layer utilities {
    /* Para Chrome, Safari y Opera */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    
    /* Para IE, Edge y Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE y Edge */
        scrollbar-width: none;  /* Firefox */
    }
}